[package]
name = "mdblog"
version = "0.14.1"
authors = ["FuGangqiang <fu_gangqiang@qq.com>"]
description = "static site generator from markdown files."
repository = "https://github.com/FuGangqiang/mdblog.rs"
homepage = "https://github.com/FuGangqiang/mdblog.rs"
documentation = "https://docs.rs/mdblog"
keywords = ["blog", "markdown", "static", "site", "generator"]
categories = ["command-line-utilities"]
license = "MIT"
readme = "README.md"
edition = "2018"

[[bin]]
name = "mdblog"
doc = false

[dependencies]
env_logger = "0.7"
structopt = "0.3"
log = "0.4"
pulldown-cmark = "0.6"
serde = { version = "1.0", features = ["rc", "std", "derive"]}
serde_json = "1.0"
serde_yaml = "0.8"
toml = "0.5"
tera = "1.0"
walkdir = "2.2"
tempfile = "3"
config = "0.10"
rocket = "0.4"
rocket_contrib = "0.4"
open = "1.3"
notify = "4.0"
glob = "0.3"
shellexpand = "1.0"
chrono = { version = "0.4", features = ["serde"] }
